In [1]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [2]:
[1, 2, 3] * [4, 5, 6]

TypeError: can't multiply sequence by non-int of type 'list'

# Numerical Python (Numpy)

In [2]:
import numpy as np

In [3]:
np.__version__

'1.18.1'

In [5]:
a = np.array([1, 2, 3])
a

array([1, 2, 3])

In [6]:
a * 3

array([3, 6, 9])

# Math Functions

In [7]:
np.sum(a)

6

In [8]:
np.mean(a)

2.0

In [9]:
np.std(a)

0.816496580927726

In [10]:
np.sin(a)

array([0.84147098, 0.90929743, 0.14112001])

In [12]:
a.sum()

6

In [15]:
np.mean(a), a.mean()

(2.0, 2.0)

In [13]:
a.max()

3

# arange, linspace, logspace

In [ ]:
# range(5) -> [0, 1, 2, 3, 4] range(endIdx)
# range(1, 5) -> [1, 2, 3, 4] range(startIdx, endIdx)
# range(1, 5, 2) -> [1, 3] range(startIdx, endIdx, stepIdx)

In [17]:
numbers_python = range(0, 5)
numbers_python

In [18]:
numbers_numpy = np.arange(0, 5)
numbers_numpy

array([0, 1, 2, 3, 4])

In [23]:
np.linspace(0, 10, 7) # np.linspace(min, max, pecah_berapa_nilai)

array([ 0.        ,  1.66666667,  3.33333333,  5.        ,  6.66666667,
        8.33333333, 10.        ])

In [15]:
np.logspace(-3, 3, 7)

array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02, 1.e+03])

# Random

In [26]:
np.random.rand(3, 2)

array([[0.11100005, 0.64381896],
       [0.95404872, 0.76692572],
       [0.32065233, 0.65957069]])

In [44]:
np.random.randint(1, 6)

5

# Controlled Randomness

In [74]:
state = np.random.RandomState(100)
state.rand(3)

array([0.54340494, 0.27836939, 0.42451759])

In [75]:
state = np.random.RandomState(100)
state.rand(3)

array([0.54340494, 0.27836939, 0.42451759])