# Built in Function

Fungsi yang sudah disediakan oleh bahasa pemrograman tersebut

In [5]:
numbers = [3, 2, 4, 5]
sum(numbers), len(numbers), pow(3, 3)

(14, 4, 27)

In [18]:
# function itu punya input dan output
sum([1, 2, 3])

6

In [19]:
name = "hari ini saya pergi ke pasar"
name.upper()

'HARI INI SAYA PERGI KE PASAR'

# Create New Function

In [14]:
# Input dan output

def function_name(function_parameter): # Define function
    # function code
    return # function result

function_name("parameter") # Calling function

In [20]:
def calculate_mean(numbers):
    total_numbers = len(numbers)
    sum_numbers = sum(numbers)
    return sum_numbers / total_numbers

mean_score = calculate_mean([1, 2, 3, 4])
mean_score

2.5

In [22]:
student1 = [90, 80, 80, 60]
calculate_mean(student1)

77.5

In [23]:
student2 = [65, 50, 80, 60]
calculate_mean(student2)

63.75

In [24]:
numbers = [1, 3, 5, 7, 9]
# Un = a + (n-1)b -> a adalah yang pertama dan b adalah beda
# def mencari_deret(numbers):
    # return 
a = numbers[0]
b = numbers[1] - numbers[0]
n = 10
Un = a + (n-1) * b
Un

19

In [25]:
def mencari_deret(numbers, n):
    a = numbers[0]
    b = numbers[1] - numbers[0]
    # n = 10 -> karena kita ambil dari input / parameter
    Un = a + (n-1) * b
    return Un

mencari_deret([1, 2, 3, 4], 100)

100

In [26]:
mencari_deret([1, 5, 9, 13], 10)

37

In [27]:
def mencari_deret(numbers, n=10):
    a = numbers[0]
    b = numbers[1] - numbers[0]
    # n = 10 -> karena kita ambil dari input / parameter
    Un = a + (n-1) * b
    return Un

mencari_deret([1, 2, 3, 4])

10

In [28]:
mencari_deret([1, 2, 3, 4], 15)

15

In [29]:
soal_deret = [1, 11, 21, 31, 41]
mencari_deret(soal_deret, 300)

2991

In [31]:
def mencari_jumlah_deret(numbers, n):
    a = numbers[0]
    b = numbers[1] - numbers[0]
    Sn = n / 2 * (2 * a + (n - 1) * b)
  
    return Sn

mencari_jumlah_deret([1, 2, 3, 4], 10)

55.0

# Lambda Function

Secara hasil sama tapi cara buat sama

In [32]:
calculate_mean = lambda numbers: sum(numbers) / len(numbers)
mean_score = calculate_mean([1, 2, 3, 4])
mean_score

2.5

In [33]:
def mencari_deret(numbers, n=10):
    a = numbers[0]
    b = numbers[1] - numbers[0]
    # n = 10 -> karena kita ambil dari input / parameter
    Un = a + (n-1) * b
    return Un

mencari_deret([1, 2, 3, 4])

10

In [34]:
mencari_deret = lambda numbers, n: numbers[0] + (n-1) * (numbers[1] - numbers[0])

In [36]:
mencari_deret([1, 2, 3, 4], 30)

30

# Modular Function

In [39]:
# Sn = a/2 + (a+Un)
# Un = a + (n-1) * b
mencari_un = lambda numbers, n: numbers[0] + (n-1) * (numbers[1] - numbers[0])
def mencari_sn(numbers, n):
    a = numbers[0]
    Un = mencari_un(numbers, n) # kita bisa panggil yang udah kita buat
    return a/2 + (a + Un)
mencari_sn([1, 2, 3, 4], 30)

31.5

- integer = 1, 2, 3 -> berhubungan dengan angka
- string = "asdas" -> mulai dari titik 2
- list = [1, 2] -> pake kurung siku
     - Cara akses list -> dia pake kurung siku contoh numbers[0]
- dict = {"name": "Rama"} -> pake kurang kurawal
     - Cara akses dict -> dia pake kurung siku contoh numbers["name"]
- func = () -> pake kurang bulat

In [46]:
def my_func(params: list):
    """
    Objective: untuk mencari rata-rata
    Input:
        1. params: list -> list of integer numbers
    return:
        result of mean numbers: int
    """
    return

In [47]:
my_func([1, 2, 3, 4])

In [44]:
sum(1)

TypeError: 'int' object is not iterable

In [45]:
sum("1")

TypeError: unsupported operand type(s) for +: 'int' and 'str'