# Exercise 1

Mencari trimmed mean pada list angka. Trimmed mean adalah nilai rata-rata yang sudah dipotong.
Contoh:
    1. `[1, 2, 3, 4, 10]` -> maka apabila dirata2 `(1 + 2 + 3 + 4 + 10)` / `5`
    2. Apabila ditambahkan parameter `trim=1` maka list bagian depan dan belakang akan dipotong sebanyak `1` sehingga menjadi `[2, 3, 4]` -> maka apabila dirata2 `(2 + 3 + 4)` / `3`
    
Hint: 
1. Gunakan konsep slicing `[startIndex:endIndex]` sebelum dirata2kan

In [7]:
def trimmed_mean(numbers, trim=0):
    # Your code below here
    
    # slicing list: memotong berdasarkan parameter trim
    numbers = numbers[0+trim:len(numbers)- trim]
    return sum(numbers) / len(numbers)

print(trimmed_mean([1, 2, 3, 4, 10])) # 4.0
print(trimmed_mean([1, 2, 3, 4, 10], 1)) # 3.0 (potong 1 nilai pertama dan terakhir)
print(trimmed_mean([1, 2, 3, 4, 4, 4, 4, 4, 10], 2)) # 3.8 (potong 2 nilai pertama dan terakhir)

4.0
3.0
3.8

# Exercise 2

Objektif: mencari nilai mediandst pada list numbers yang berjumlah **ganjil**

Contoh:
1. `[1, 2, 3, 4, 5]` -> median = 3 Karena median merupakan nilai tengah. Didapat dengan membagi `len(numbers) * 0.5` kemudian dibulatkan dengan menggunakan fungsi `round`

In [46]:
# contoh fungsi round
round(0.75)

1

In [8]:
# mencari median pada list numbers yang ganjil
def mencari_median(numbers):
    # Your code below here
    median_idx = round(len(numbers) / 2)
    return numbers[median_idx]

print(mencari_median([1, 2, 3, 4, 5])) # 3
print(mencari_median([3, 4, 9, 10, 10])) # 9

3
9

# Exercise 3

Menghitung jumlah barang yang terjual.

Terdapat data penjualandari week1 dan week4. Hitung ada berapa banyak barang yang dipilih yang terjual dari week1 sampai week4.

**Hint**
1. Silahkan gunakan `.count()`

In [58]:
# contoh penggunaan count

animals = ["cat", "dog", "cat", "dog", "fish"]
select_animal = "dog"
animals.count(select_animal)

2

In [10]:
data = {
    "week1": ["pc", "laptop", "pc", "pc", "mouse"],
    "week2": ["pc", "pc", "mouse"],
    "week3": ["keyboard", "pc", "pc", "mouse"],
    "week4": ["pc", "laptop", "pc", "keyboard", "mouse"]
}

In [11]:
def summary_report(data, product):
    week1_total = data["week1"].count(product)
    week2_total = data["week2"].count(product)
    week3_total = data["week3"].count(product)
    week4_total = data["week4"].count(product)

    return week1_total + week2_total + week3_total + week4_total

print(summary_report(data, "pc")) # 9
print(summary_report(data, "mouse")) # 4
print(summary_report(data, "keyboard")) # 2
print(summary_report(data, "pc")) # 9

9
4
2
9

# Exercise 4

Menghitung jumlah barang yang terjual menggunakan looping.

Terdapat data penjualan dari data tertentu. Hitung ada berapa banyak barang yang dipilih yang terjual.

Hint

Silahkan gunakan `for loop` pada `dict` dan `.count()`. Dan gunakan nilai tampung saat melakukan `loop`

In [21]:
# contoh looping dictionary
myname = {
    "name": "Rama",
    "age": 22
}

for key in myname:
    print(f"Value pada key {key} adalah {myname[key]}")

Value pada key name adalah Rama
Value pada key age adalah 22

In [22]:
# contoh menggunakan nilai tampung
quantities = [5, 4, 8, 9]
prices = [1000, 2000, 3000, 4000]
profit = 0
for quantity, price in zip(quantities, prices):
    profit += (quantity * price) # menampung nilai
profit

73000

In [19]:
data = {
    "week1": ["pc", "laptop", "pc", "pc", "mouse"],
    "week2": ["pc", "pc", "mouse"],
    "week3": ["keyboard", "pc", "pc", "mouse"],
    "week4": ["pc", "laptop", "pc", "keyboard", "mouse"]
}

In [25]:
def summary_report(data, product):

    return

print(summary_report(data, "pc")) # 9
print(summary_report(data, "mouse")) # 4
print(summary_report(data, "keyboard")) # 2
print(summary_report(data, "pc")) # 9

None
None
None
None

# Exercise 5

Buatlah program untuk menyeleksi hasil ujian murid. Berapakah rata-rata nilai pada students tersebut.

In [36]:
def filtered_exercises(students):
    return

data1 = [{
    "name": "Rama",
    "score": 80
}, {
    "name": "Budi",
    "score": 90
}, {
    "name": "Dimas",
    "score": 60
}]

print(filtered_exercises(data1)) # 76.67

None